---
// Glob all the PNGs in the projects folder using Astro
const projects = await Astro.glob("../../public/images/*.webp")
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/me.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CandyCane</title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=vt323:400"
      rel="stylesheet"
    />
    <meta name="description" content="CandyCane's Portfolio" />
    <meta property="og:title" content="CandyCane" />
    <meta property="og:description" content="CandyCane's Portfolio" />
    <meta property="creator" content="Jonte from Jontes.Page" />
  </head>
  <body class="bg-background">
    <section id="hero">
      <h1 class="font-pixel max-4xl mx-auto text-8xl text-primary text-center font-black">
        CandyCane
      </h1>
    </section>
    <section
      class="mx-auto max-w-4xl bg-card grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4 rounded-2xl"
    >
      {
        projects.map((project:any, index: number) => (
          <div class="mx-auto">
            <img
              class="object-cover galleryIMG bg-modal h-[277.33333px] shadow-sm w-[277.33333px] rounded-3xl hover:rounded-lg transition-all"
              src={project.default.replace("/public/images/", "https://cdn.jsdelivr.net/gh/etherware-novice/jontes-site@master/public/images/")}
              alt={project.default.replace("/public/images/", "").replace(".webp", "")}
              title={project.default.replace("/public/images/", "").replace(".webp", "")}
              loading={index > 5 ? "lazy" : "eager"}
              fetchpriority={index > 5 ? "low" : "high"}
              onclick="
              document.getElementById('modal').showModal(); document.getElementById('modal').querySelector('h2').innerText = this.alt; document.getElementById('modal').querySelector('img').src = this.src;
              "
            />
          </div>
        ))
      }
    </section>

    <footer class="text-center text-white text-sm my-4">
      <p>
        Made with{" "}
        <span role="img" aria-label="love"> ❤️</span>{" "}
        by{" "}
        <a
          href="https://jontes.page?utm_source=candycane&utm_medium=footer&utm_campaign=portfolio"
          rel="nofollow"
          target="_blank"
          class="underline"
        >
          Jonte
        </a>
        {" "} for CandyCane
      </p>
    </footer>
  </body>
</html>
<script>
  document.getElementById("close-modal")?.addEventListener("click", () => {
    // @ts-expect-error
    document.getElementById("modal")?.close();
  });
</script>
